<div class="ui raised segment">
  <h2 class="ui header">Demo Form: Sku with Builder</h2>
  <form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit(myForm.value)"
    class="ui form"
  >
    <div class="field">
      <label for="skuInput">SKU</label>
      <input
        type="text"
        id="skuInput"
        placeholder="SKU"
        [formControl]="myForm.controls['sku']"
      />
    </div>
    <div class="field">
      <label for="price">Price</label>
      <input
        type="text"
        id="price"
        placeholder="Price"
        [formControl]="myForm.controls['price']"
      />
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>
</div>
